.register_container

  %main.register
    %section.contents
      %h2.contents__new
        新規会員登録
      .contents__main.main
        .main__list
          = link_to "新規会員登録", "../shared/_personal-information.html.haml", class: "btn-mail btn"
        .main__list
          = link_to "Facebookで登録する", "#", class: "btn-facebook btn"
        .main__list
          = link_to "Googleで登録する", "#", class: "btn-google btn"