%main.new-user-main
  %section.new-user-contents
    %h2.new-user-input
      会員登録完了
      .contents__main
        .form-content.form-group.margin__top-40px
          .form-group
            .rule-text.font__size-16px
              ありがとうございます。
              %br
              会員登録が完了しました。
          = link_to "メルカリをはじめる", root_path, class: "next-btn btn btn__start square-btn contents__text margin__top-32px margin__bottom-24px"
      = link_to "#" do
        = image_tag 'registration/bunner.jpg', class: "registration-bunner"
