%main.my-contents.clearfix
  = render 'layouts/mypage-side-contents'
  %main.new-user-main.float__right
    %section.new-user-contents
      %h2.new-user-input
        支払い方法
      .contents__main__only-border.padding__entire-64px
        .form-content__narrow.form-group__margin-l
          .inner-box.font__size-16px
            クレジットカード一覧
            .inner-box__relative
              = link_to("クレジットカードを追加する", '#', {class: "next-btn btn square-btn contents__text margin__top-24px"})
              %i.material-icons.form-icon-position__cardicon
                payment
        .contents__main__only-border.margin__top-32px.margin__bottom-40px

        .personal-register
          = link_to("支払い方法について", "#", {class: "blue-color-link font__size-14px"})
          %i.fa.fa-chevron-right.blue-color-link