%main.error-container
  .er-l-side
    .er-l-visible-large
      = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: "er-side-banner" do
        = image_tag 'errors/side_banner.jpg', size: "280x238"
        
  .er-l-content
    .error404
      = image_tag 'errors/error404.png', size: "380x292"