@import "reset.scss";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.ft-dl {
  background-image: url(footer/ft_background.png);
  background-position: center;
  background-size: cover;
  &__component {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;
    &__left {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      &__top {
        font-size: 24px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__middle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 35px;
        margin: 10px 0 0;
      }
      &__bottom {
        margin: 20px 0 0;
        display: flex;
        &__mercari-logo {
          margin: 0;
          &__img {
            vertical-align: middle;
          }
        }
        &__app-store {
          margin: auto 0 auto 24px;
        }
        &__google-play {
          margin: auto 0 auto 16px;
        }
      }
    }
    &__right {
      position: absolute;
      right: 0;
      width: 300px;
      margin: 0;
      &__phone-img {
        width: 100%;
      }
    }
  }
}

.ft-company {
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;
  &__top {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    &__about-mercari {
      width: 20%;
      padding-right: 20px;
      margin-top: 18px;
    }
    &__help-guide {
      width: 23%;
      padding-right: 40px;
      margin-top: 18px;
    }
    &__privacy-terms {
      width: 42%;
      padding-right: 40px;
      margin-top: 18px;
      &__left {
        float: left;
        padding-right: 10px;
        width: 50%;
      }
      &__right {
        float: left;
        padding-left: 10px;
        width: 50%;
      }
    }
    &__language {
      width: auto;
      padding: 0;
      margin-top: 18px;
    }
  }
  &__bottom {
    margin: 30px auto 20px;
    width: 1020px;
    &__logo {
      color: #fff;
      font-size: 12px;
      line-height: 1.5em;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }
    &__copyright {
      width: 745px;
      display: inline-block;
      margin: 8px 0 0;
      text-align: center;
      font-size: 15px;
    }
  }
}

.ft-list-head {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.ft-list:first-child {
  margin: 16px 0 0;
}

.ft-list{
  margin: 14px 0 0;
}

.ft-list a{
  color: #fff;
  display: block;
  opacity: .7;
  font-size: 12px;
  line-height: 1.5em;
}

.ft-list.sns {
  display: inline-block;
}

.ft-list.sns a{
  color: #fff;
  opacity: 1;
  font-size: 40px;
}

.icon-twitter, .icon-facebook {
  margin: 16px 18px 0 0;
}