header {
  display: block;
  .hd-all-conponents {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__top {
      display: flex;
    }
    &__bottom {
      margin: 8px 0 0;
      &__left {
        float: left;
      }
      &__right {
        float: right;
      }
    }
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}