@import "reset.scss";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.sell-btn {
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  &__sell {
    margin: 25px 0 0;
  }
  &__icon-camera {
    margin: 8px 0 0;
    font-size: 54px;
  }
}