.ssb-contents {
  width: 280px;
  min-height: 500px;
  float: left;
  margin: 0 40px 0 0;
  &__soat {
    background-color: #fff;
    border-radius: 5px;
  }
  &__container {
    background-color: #fff;
  }
  &__flex-box {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
  }
  &__each-checkbox {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
  }
}
