.l-container {
  margin: 40px auto 0;
  width: 1020px;
}

.l-content {
  width: 100%;
}

.items-box-head {
  font-size: 22px;
  margin: 24px 0 8px;
  line-height: 1.4;
}

.items-box-content {
  width: auto;
  margin: 0 auto;
  height: 5836px;
}

.items-box {
  margin: 0 16px 16px 0;
  width: 156px;
  height: 214px;
  float: left;
  background: #fff;
  a {
    display: block;
    color: #333;
  }
}

.items-box-photo {
  width: 156px;
  height: 156px;
  overflow: hidden;
  position: relative;
  padding: 0 0 100%;
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 1;
  }
}

.items-box-body {
  position: relative;
  height: 58px;
  padding: 8px 12px;
}

.items-box-name {
  font-size: 14px;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  height: 3em;
  line-height: 1.5;
}

.items-box-num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0;
}

.items-box-price {
  z-index: 2;
  position: absolute;
  top: -30px;
  left: 0;
  padding: 4px 12px 4px 8px;
  border-radius: 0 16px 16px 0;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 17px;

}