.error-container {
  margin: 40px auto 40px;
  width: 1020px;
  display: flex;
}

.er-l-content {
  width: 700px;
}

.error404 {
  padding: 80px 160px;
  background: #fff;
  img {
    width: 380px;
  }
}

.er-l-side {
  width: 280px;
  margin: 0 40px 0 0;
}

.er-l-visible-large {
  display: block;
}

.er-side-banner {

}