.font {
  &__size-12px {
    font-size: 12px;
  }
  &__size-13px {
    font-size: 13px;
  }
  &__size-14px {
    font-size: 14px;
  }
  &__size-16px {
    font-size: 16px;
  }
  &__size-24px {
    font-size: 24px;
  }
  &__bold {
    font-weight: 600;
  }
}
.padding {
  &__entire-64px {
    padding: 64px;
  }
}

.float {
  &__right{
    float: right;
  }
}