.search-clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.search-contents {
  position: relative;
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
}

.search-left {
  float: left;
  width: 280px;
  margin-right: 40px;
}

.search-result-items {
  width: auto;
  margin: 0 auto;
}

.search-item-box {
  position: relative;
  float: left;
  background: #fff;
  width: 160px;
  margin: 0 20px 20px 0;
  &:nth-child(4n+1) {
    margin-left: 0;
  }
  & a {
    display: block;
    color: #333;
  }
  &__image-box {
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    padding: 0 0 100%;
    margin: 0;
    &__image {
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      vertical-align: middle;
    }
  }
  &__text-box {
    position: relative;
    height: 58px;
    padding: 8px 12px;
    &__text {
      font-size: 14px;
      overflow: hidden;
      position: relative;
      font-weight: 400;
      height: 3em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
      color: #333;
    }
    &__text:after {
      width: 30%;
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1.5em;
      background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
    }
    &__num {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin: 8px 0 0;
      &__price {
        z-index: 2;
        position: absolute;
        top: -30px;
        left: 0;
        padding: 4px 12px 4px 8px;
        border-radius: 0 16px 16px 0;
        font-weight: 600;
        color: #fff;
        background-color: rgba(0,0,0,0.3);
        font-size: 17px;
      }
    }
  }
}

.search-form {
  position: relative;
  &__sort {
    opacity: 1;
    position: static;
    width: auto;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
  }
}

.search-form-group {
  margin: 40px 0 0;
  &:first-child {
    margin: 0;
  }
}

.select-box {
  background: #fff;
  text-align: left;
  margin: 0;
  position: relative;
}

.search-icon {
  position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 8px;
    transform: translate(0, -50%);
}