.iu-item-container {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}

.iu-container {
  border-top: 1px solid #eee;
}

.l-single-head {
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.iu-content {
  padding: 40px;
  border-top: 1px solid #eee;
  & div {
    font-size: 14px;
  }
}

.iu-image {
  &__head {
    font-size: 16px;
  }
  &__container {
    display: block;
    width: 620px;
    margin: 16px auto 0;
    &__preview-area {
      display: inline;
      &__images {
        float: left;
        display: block;
      }
    }
    &__drop-area {
      width: 100%;
      margin-left: 0;
      float: right;
      padding: 40px;
      position: relative;
      min-height: 162px;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      font-size: 0;
      text-align: center;
      cursor: pointer;
      &.have-image-0 {
        width: 100%;
        margin-left: 0;
      }
      &.have-image-1 {
        width: 491px;
      }
      &.have-image-2 {
        width: 363px;
      }
      &.have-image-3 {
        width: 234px;
      }
      &.have-image-4 {
        width: 106px;
      }
      &__label {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
    &__drop-area-second {
      display: none;
      width: 100%;
      margin-left: 0;
      float: right;
      padding: 40px;
      position: relative;
      min-height: 162px;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      font-size: 0;
      text-align: center;
      cursor: pointer;
    }
  }
}

.iu-preview-box {
  width: 116px;
  margin: 0 0 10px 10px;
  position: relative;
  display: inline-block;
  border: 1px solid #eee;
  vertical-align: top;
  &:first-child,
  &:nth-child(6n) {
    margin-left: 0;
  }
  &__image {
    line-height: 116px;
    margin: 0;
    width: auto;
    padding: 0;
    height: 116px;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    & img {
      position: static;
      transform: none;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
      cursor: default;
    }
  }
  &__text {
    font-size: 14px;
    display: flex;
    & a {
      display: inline-block;
      width: 50%;
      background: #f5f5f5;
      line-height: 44px;
      text-align: center;
      border: 1px solid #eee;
      color: #0099e8;
    }
  }
}

.visible-pc {
  padding: 60px 0;
}

.iu-flex {
  display: flex;
  justify-content: space-between;
}

.input-default {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.textarea-default {
  display: block;
  height: 140px;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.iu-sub-head {
  color: #888;
  font-size: 14px;
}

.iu-form-box {
  margin: 0;
  width: 400px;
}

.select-wrap {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
  height: 48px;
}

.iu-half {
  width: 50%;
}


.iu-price ul{
  list-style: none;
}

.iu-price li{
  padding: 24px 0;
  border-top: 1px solid #ccc;
  list-style: none;
}

.iu-price-input {
  display: flex;
  line-height: 60px;
  border-top: none;
}

.right {
  text-align: right;
}

.btn-red {
  margin: 40px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  display: block;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}


.btn-gray {
  width: 45%;
  margin: 24px auto 0;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  display: block;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
}


.input-price {
  height: 48px;
  width: 180px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  text-align: right;
  margin-left: 10px;
}

.input-brand {
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  position: absolute;
}


select {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.iu-sell-link {
  color: #0099e8;
}