- case params.values_at :controller, :action

- when ['mypage/mypage', 'index']
  - breadcrumb :mypage

- when ['mypage/profile', 'edit']
  - breadcrumb :mypage_profile

- when ['mypage/logout', 'logout']
  - breadcrumb :mypage_logout

- when ['mypage/listings', 'index']
  - breadcrumb :mypage_itemList

- when ['items', 'show']
  - breadcrumb :mypage_itemList_item

- when ['categories', 'index']
  - breadcrumb :categories

%nav.breadcrumbs
  = breadcrumbs class: "breadcrumbs__text", separator: " &nbsp;&nbsp;&#12297;&nbsp; "