- case params.values_at :controller, :action

- when ['users', 'show']
  - breadcrumb :user

-# - when ['users', 'profile']
-#   - breadcrumb :user_profile

%nav.breadcrumbs
  = breadcrumbs class: "breadcrumbs__text", separator: " &nbsp;&nbsp;&#12297;&nbsp; "