%footer
  .ft-all
    .ft-all__top
      .ft-all__about-app
        .ft-all__about-app__left
          .ft-all__about-app__left__top
          .ft-all__about-app__left__middle
          .ft-all__about-app__left__bottom
            .ft-all__about-app__left__bottom__mercari-logo
              = image_tag ''
            %a.ft-all__about-app__left__bottom__app-store
              = image_tag ''
            %a.ft-all__about-app__left__bottom__google-play
              = image_tag ''
        .ft-all__about-app__right
          = image_tag ''
    .ft-all__about-company
      %nav.ft-all__about-company__company-info
        .ft-all__about-company__company-info__about-mercari
        .ft-all__about-company__company-info__help-guide
        .ft-all__about-company__company-info__privacy-terms
        .ft-all__about-company__company-info__country
               