%header
  .hd-all-conponents
    .hd-all-conponents__top
      .hd-all-conponents__top__logo
        %a.hd-all-conponents__top__logo__link{href: ''}
          = image_tag '/assets/images/header/mercari-logo.svg'
      = form_with url: '', method: :get, local: true do |f|
        -# = f.label
        -# = f.text_field
        -# = f.submit
    .hd-all-conponents__bottom.clearfix
      %nav.hd-all-conponents__bottom__left
        %ul.hd-all-conponents__bottom__left__category-brand
          %li.hd-all-conponents__bottom__left__category-brand__category
            %h2
              %a{href: ''} 
                %i.icon-list
                %span カテゴリーから探す
            %ul
          %li.hd-all-conponents__bottom__left__category-brand__brand
            %h2
              %a{href: ''}
                %i.icon-tag
                %span ブランドから探す
            %ul
      .hd-all-conponents__bottom__right
        %ul.hd-all-conponents__bottom__right__components
          %li.hd-all-conponents__bottom__right__components__likelist
            %a{href: ''} 
              %i.icon-like-border
              %span いいね一覧
          %li.hd-all-conponents__bottom__right__components__news
            %a{href: ''} 
              %i.icon-bell
              %span お知らせ
              .news-count
            %ul 
          %li.hd-all-conponents__bottom__right__components__todolist
            %a{href: ''} 
              %i.icon-check
              %span やることリスト
            %ul
          %li.hd-all-conponents__bottom__right__components__mypage
            %a{href: ''} 
              %figure
                %div
                  = image_tag ''
              %span マイページ
            .mypage__box
