.ssb-contents
  .ssb-contents__soat
    %select{name: :sort_order, classs: "sort_order"}
      %option{value: "location.pathname", name: "location.pathname"}
        並び替え
      %option{value: "price_asc"}
        価格の安い順
      %option{value: "price_desc"}
        価格の高い順
      %option{value: "created_at_asc"}
        出品の古い順
      %option{value: "created_at_desc"}
        出品の新しい順
  .ssb-contents__container
    .ssb-contents__box
      .sub-title
      .sub-title__sub
      = form_with url: search_items_path, method: :get, local: true, class: "" do |f|
        .ssb-contents__box__keyword
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__category
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__brand
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__size
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__choose-price
        .ssb-contents__flex-box
          .ssb-contents__box__min-price
          .ssb-contents__box__max-price
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__inner
          .ssb-contents__box__check-box
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__inner
          .ssb-contents__box__check-box
      .ssb-contents__box
        .sub-title__sub
        .ssb-contents__box__inner
          .ssb-contents__box__check-box
        .ssb-contents__flex-box
          .btn-gray
          .btn-gray